@value makerGrey,makerPink,makerDarkGrey,makerLightGrey1,mainColor from "../../../../common/color.css";

.container {
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.header h2 {
  font-size: 1.3rem;
  padding-left: 0.5rem;
}
.header span {
  color: mainColor;
}

/*캐러셀*/
.carousel {
  width: calc(18.25rem * 4);
  overflow: hidden;
}
.menu {
  display: flex;
  width: calc(18.25rem * 10);
  transition: 0.5s;
}
.item {
  width: 17rem;
  padding: 0 0.625rem;
}

.img_box {
  width: 100%;
  height: 17rem;
  overflow: hidden;
  border-radius: 0.3rem;
  position: relative;
}
.img_box img {
  max-width: 100%;
  transition: all 0.3s linear;
}

.img_box img:hover {
  transform: scale(1.1);
}
.company {
  font-size: 0.7rem;
  color: makerGrey;
}
.title {
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.1rem;
  max-height: 2rem;
  margin-top: 0.3rem;
}
.item_price {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.sale {
  color: makerPink;
}
.item_status {
  font-size: 0.8rem;
  font-weight: 700;
}
.rate {
  margin: 0 0.2rem 0 0.1rem;
  color: makerDarkGrey;
}
.review {
  color: makerGrey;
}

.freeShip {
  padding: 0.2rem;
  border-radius: 0.2rem;
  font-size: 0.2rem;
  font-weight: 700;
  color: makerGrey;
  background-color: makerLightGrey1;
}

.list_prev,
.list_next {
  position: absolute;
  display: flex;
  top: 45%;
  z-index: 1;
}

.list_prev {
  left: 0;
}
.list_next {
  right: 0;
}

.move_btn {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  background-color: white;
  border-radius: 50%;
}
.move_btn:hover {
  color: white;
  background-color: mainColor;
}
.icon_hide {
  display: none;
}
