@value makerGrey,makerPink,makerDarkGrey,makerLightGrey1,mainColor,makerLightGrey3 from "../../../../common/color.css";

.container {
  position: relative;
  padding: 3%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.header h2 {
  font-size: 1.3rem;
  padding-left: 0.5rem;
}
.header span {
  color: mainColor;
}

/*캐러셀*/
.carousel {
  width: 100%;
  overflow: hidden;
}
.menu {
  display: flex;
  transition: 0.5s;
}
.menu > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.625rem;
}
.menu > li:hover .img_box img {
  transform: scale(1.1);
}
.menu > li:hover .title {
  color: makerLightGrey3;
}
.img_box {
  width: 100%;
  overflow: hidden;
  border-radius: 0.3rem;
  position: relative;
}
.img_box img {
  width: 100%;
  border-radius: 0.3rem;
  transition: all 0.3s linear;
}

.product_info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}
.company {
  font-size: 0.7rem;
  color: makerGrey;
}
.title {
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.1rem;
  max-height: 2rem;
  margin-top: 0.3rem;
}
.item_price {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-top: 0.3rem;
  font-weight: 800;
}
.sale {
  color: makerPink;
  margin-right: 0.3rem;
}
.item_status {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 800;
}

.rate {
  margin: 0 0.2rem 0 0.1rem;
  color: makerDarkGrey;
}
.review {
  color: makerLightGrey3;
}

.freeShip {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  padding: 0.3rem;
  margin-top: 0.3rem;
  border-radius: 0.2rem;
  font-size: 0.5rem;
  font-weight: 800;
  color: makerGrey;
  background-color: makerLightGrey1;
}

/*아이템 한개*/
.product_one {
  overflow: auto;
}
.one {
  width: 101%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.one_img {
  width: 50%;
}
.one_img img {
  width: 100%;
  border-radius: 0.3rem;
}
.one_info {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
  color: makerPink;
  font-weight: 800;
}
.one_tag {
  display: flex;
  justify-content: center;
  width: 3.5rem;
  padding: 0.2rem;
  color: white;
  font-size: 0.9rem;
  font-weight: 800;
  border-radius: 0.3rem;
  background-color: makerPink;
}
.one_title {
  display: block;
  margin: 1rem 0;
  font-weight: 600;
  color: makerDarkGrey;
}
.one_sale {
  display: flex;
  align-items: center;
  font-weight: 900;
  color: makerPink;
}
.one_sale span {
  font-size: 3rem;
  margin-right: 0.1rem;
}

.list_prev,
.list_next {
  position: absolute;
  display: flex;
  top: 45%;
  z-index: 1;
}

.list_prev {
  left: 0;
}
.list_next {
  right: 0;
}

.move_btn {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  background-color: white;
  border-radius: 50%;
}
.move_btn:hover {
  color: white;
  background-color: mainColor;
}
.icon_hide {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header span {
    display: none;
  }
  .list_prev,
  .list_next {
    display: none;
  }
}
