@value makerLightGrey,mainColor from "../../../../common/color.css";

.container {
  display: flex;
  justify-content: center;
}
.top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding: 1rem;
  width: 1175px;
}
.top_story {
  width: 70%;
  position: relative;
}
.top_story_img {
  width: 53rem;
  height: 40rem;
  border-radius: 0.3rem;
}
.user {
  width: 1.5rem;
}
.content_wrap {
  width: 49rem;
  height: 40rem;
  position: absolute;
  top: 0;
  border-radius: 0.3rem;
}
.detail {
  width: 100%;
  bottom: 0;
  border-radius: 0.3rem;
  padding: 2rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.8));
}
.detail_title {
  font-size: 2rem;
  color: white;
}
.detail_user {
  display: flex;
  align-items: center;
}
.nickname {
  margin-left: 0.2rem;
  font-size: 0.8rem;
  color: white;
}
.go_btn {
  width: 8.5rem;
  height: 3.3rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
  padding-top: 0.2rem;
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}
.go_btn:hover {
  border-color: mainColor;
  background-color: mainColor;
}

/*배너*/
.top_banner {
  height: 40rem;
  width: 25%;
  background: makerLightGrey;
  overflow: hidden;
  position: relative;
  border-radius: 0.3rem;
}

.slides {
  width: calc(100% * 4);
  display: flex;
  transition: 2s;
}

.top_banner input {
  display: none;
}

.slide {
  width: calc(100% / 4);
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide img {
  width: 8rem;
}

.slides li:nth-child(1) {
  background: #ffa;
}
.slides li:nth-child(2) {
  background: #faa;
}
.slides li:nth-child(3) {
  background: #afa;
}
.slides li:nth-child(4) {
  background: #aaf;
}

/* 배너 - 수동 조작 */
.navigation_manual {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.manual_btn {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.manual_btn:not(:last-child) {
  margin-right: 0.2rem;
}

.banner input[type="radio"]:nth-child(1):checked ~ .slides {
  margin-left: 0;
}
.banner input[type="radio"]:nth-child(2):checked ~ .slides {
  margin-left: -100%;
}
.banner input[type="radio"]:nth-child(3):checked ~ .slides {
  margin-left: -200%;
}
.banner input[type="radio"]:nth-child(4):checked ~ .slides {
  margin-left: -300%;
}
/* 배너 - 자동 조작 */
.navigation_auto {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: auto;
}

.navigation_auto div {
  background-color: white;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.navigation_auto div:not(:last-child) {
  margin-right: 0.2rem;
}

.banner input[type="radio"]:nth-child(1):checked ~ .navigation_auto .auto_btn1,
.banner input[type="radio"]:nth-child(2):checked ~ .navigation_auto .auto_btn2,
.banner input[type="radio"]:nth-child(3):checked ~ .navigation_auto .auto_btn3,
.banner input[type="radio"]:nth-child(4):checked ~ .navigation_auto .auto_btn4 {
  background-color: mainColor;
}
