@value makerLightGrey3,makerLightGrey,mainColor from "../../../../common/color.css";

.container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 3%;
}

/*메인 이미지*/
.top_story {
  width: 70%;
  height: 100%;
  position: relative;
  padding: 0 10px;
}
.top_story_img {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}
.user {
  width: 1.5rem;
}
.detail {
  width: calc(100% - 83px);
  bottom: 0;
  border-radius: 0.3rem;
  padding: 2rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.8));
}
.detail_title {
  font-size: 2rem;
  color: white;
}
.detail_user {
  display: flex;
  align-items: center;
}
.nickname {
  margin-left: 0.2rem;
  font-size: 0.8rem;
  color: white;
}
.go_btn {
  width: 8.5rem;
  height: 3.3rem;
  border: 1px solid white;
  border-radius: 0.3rem;
  margin-top: 1rem;
  margin-right: 1rem;
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}
.go_btn:hover {
  border-color: mainColor;
  background-color: mainColor;
}

/*배너*/
.top_banner {
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
}
.slide_list_wrapper {
  height: 100%;
}

.slide_list {
  height: 100%;
  display: flex;
}

.slide_content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.3rem;
}
.slide_content img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}

.slide_operation {
  width: 100%;
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  padding: 1rem 0 0.5rem 0;
  border-radius: 0.3rem;
  transform: translate(-50%, 0);
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.5));
}
.dots {
  display: flex;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: white;
  margin: 0 0.2rem;
  border-radius: 50%;
}

.dot_selected {
  background-color: mainColor;
}

.slide_btn {
}
.slide_btn:hover {
  background-color: mainColor;
  border-radius: 50%;
  height: 2rem;
}

@media only screen and (max-width: 1024px) {
  .top_story {
    width: 75%;
  }
  .detail_title {
    font-size: 1.5rem;
  }
  .go_btn {
    width: 6.9rem;
    height: 2.7rem;
    font-size: 0.95rem;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .top_story {
    width: 100vw;
    height: 68%;
    padding: 0;
  }
  .top_story_img {
    width: 100%;
    border-radius: 0;
  }
  .detail {
    width: 100%;
    height: calc(100% - 4rem);
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
  }
  .detail_user {
    display: none;
  }
  .go_btn {
    margin: 0;
    width: 6.9rem;
    height: 2.2rem;
    font-size: 0.8rem;
  }
  .top_banner {
    margin: 0;
    height: 32%;
  }
  .slide_content,
  .slide_content img {
    border-radius: 0;
    height: 100%;
  }
  .dots {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    justify-content: start;
    align-items: end;
  }
  .dot {
    background-color: makerLightGrey3;
  }
  .dot_selected {
    background-color: mainColor;
  }
  .slide_operation {
    background: none;
  }
  .slide_btn {
    display: none;
  }
}
