@value makerLightGrey,mainColor from "../../../../common/color.css";

.container {
  display: flex;
  height: 40rem;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem;
}

/*메인 이미지*/
.top_story {
  width: 53rem;
  height: 100%;
  position: relative;
}
.top_story_img {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}
.user {
  width: 1.5rem;
}
.detail {
  width: 49rem;
  bottom: 0;
  border-radius: 0.3rem;
  padding: 2rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.8));
}
.detail_title {
  font-size: 2rem;
  color: white;
}
.detail_user {
  display: flex;
  align-items: center;
}
.nickname {
  margin-left: 0.2rem;
  font-size: 0.8rem;
  color: white;
}
.go_btn {
  width: 8.5rem;
  height: 3.3rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}
.go_btn:hover {
  border-color: mainColor;
  background-color: mainColor;
}

/*배너*/
.top_banner {
  height: 40rem;
  width: 17rem;
  overflow: hidden;
  position: relative;
}
.slide_list_wrapper {
  width: 100%;
  height: 100%;
}

.slide_list {
  height: 100%;
  display: flex;
}

.slide_content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.3rem;
}
.slide_content img {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}

.slide_operation {
  width: 100%;
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  padding: 1rem 0 0.5rem 0;
  border-radius: 0.3rem;
  transform: translate(-50%, 0);
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.5));
}
.dots {
  display: flex;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: white;
  margin: 0 0.2rem;
  border-radius: 50%;
}

.dot_selected {
  background-color: mainColor;
}

.slide_btn {
}
.slide_btn:hover {
  background-color: mainColor;
  border-radius: 50%;
  height: 2rem;
}
