@value makerGreen from "../../common/color.css";

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.employee {
  width: 10rem;
}

.saying {
  width: 20rem;
  position: relative;
  text-align: center;
  background: makerGreen;
  border-radius: 2em;
  margin-bottom: 1.5rem;
  padding: 1rem;
  font-family: "kotra";
  font-size: 1.3rem;
  line-height: 2rem;
}

.saying:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 21px solid transparent;
  border-top-color: makerGreen;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10.5px;
  margin-bottom: -21px;
}
