.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "kotra";
}
.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.comment {
  font-size: 1.2rem;
}
.img {
  margin-top: 2rem;
  width: 10rem;
}
