@value makerGrey,makerLightGrey,makerPink,makerDarkGrey,makerLightGrey1,mainColor from "../../../../common/color.css";

.container {
  margin: 2rem 0;
  padding: 3%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.header h2 {
  font-size: 1.3rem;
  padding-left: 0.5rem;
}
.header span {
  color: mainColor;
}
.list {
  display: flex;
  flex-wrap: wrap;
}
.item {
  width: 33%;
}
.item:hover .img {
  transform: scale(1.1);
}
.item_container {
  margin: 0.5rem;
}
.img_container {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}
.img {
  width: 100%;
  border-radius: 0.5rem;
  transition: all 0.3s linear;
}

.stars {
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}
.item_container > span {
  font-size: 0.95rem;
  line-height: 20px;
}
.review {
  /* 한 줄 자르기 */
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "ellipsis";

  /* 여러 줄 자르기 추가 스타일 */
  white-space: normal;
  line-height: 1.2;
  height: 3.6em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.profile {
  display: flex;
  align-items: center;
  margin-top: 0.3rem;
}
.user {
  width: 1.2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.profile span {
  font-weight: 700;
  color: makerDarkGrey;
}
.more {
  color: makerDarkGrey;
  font-weight: 700;
  text-align: center;
  padding: 1rem 0;
  margin-top: 1rem;
  background-color: makerLightGrey;
}

@media only screen and (max-width: 768px) {
  .header span {
    display: none;
  }
  .list {
    flex-direction: column;
  }
  .item {
    width: 100%;
  }
  .item_container {
    display: flex;
    flex-wrap: wrap;
  }
  .img_container {
    width: 30%;
  }
  .review_container {
    width: 65%;
    padding: 1rem;
    font-size: 0.9rem;
  }
}
