@value makerGrey,makerPink,makerDarkGrey,makerLightGrey1,mainColor from "../../../../common/color.css";

.container {
  margin: 2rem 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.header h2 {
  font-size: 1.3rem;
  padding-left: 0.5rem;
}
.header span {
  color: mainColor;
}
.list {
  display: flex;
  flex-wrap: wrap;
}
.item {
  width: 33%;
}
.item_container {
  margin: 0.5rem;
}
.img_container {
  width: 100%;
  height: 15rem;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}
.img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stars {
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}
.item_container > span {
  font-size: 0.9rem;
  line-height: 20px;
}
.profile {
  display: flex;
  align-items: center;
  margin-top: 0.3rem;
}
.user {
  width: 1.2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.profile span {
  font-weight: 700;
}
