@value mainColor,makerGrey,makerLightGrey,makerLightGrey1 from "../../common/color.css";
.container {
  display: flex;
  flex-direction: column;
}
.header_top {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid makerLightGrey1;
}
.top_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 1175px;
}

.logo {
  width: 5rem;
}
.nav__menu {
  display: flex;
}
.menu {
  display: flex;
  align-items: center;
}
.menu_item {
  position: relative;
  margin: 0 1rem;
  font-size: 1.1rem;
  font-weight: 700;
}
.menu_item:hover {
  color: mainColor;
}

.menu_item:after {
  margin: 2px 0 0 -4px;
  border-width: 0 4.5px 9px;
  border-color: transparent transparent #fff;
  transform: translateX(-0.5px);
}
.menu_item:before {
  margin: 1px 0 0 -5px;
  border-width: 0 5px 10px;
  border-color: transparent transparent #dbdbdb;
}
.menu_item:after,
.menu_item:before {
  content: "";
  display: none;
  position: absolute;
  padding-top: 1.3rem;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
}
.menu_item:hover:before,
.menu_item:hover:after {
  display: block;
}

.nav__end {
  display: flex;
  align-items: center;
}
.form {
  position: relative;
}

.input {
  padding: 0.7rem 3rem 0.7rem 2.3rem;
  border: 1px solid makerLightGrey2;
  border-radius: 0.2rem;
}
.search {
  width: 1rem;
  position: absolute;
  top: 0.7rem;
  left: 0.7rem;
}

.cart_button {
  padding: 0.3rem;
  border-radius: 50%;
}

.cart {
  color: makerGrey;
  display: flex;
  font-size: 1.2rem;
}
.cart_button:hover .cart {
  color: white;
}
.cart_button:hover {
  background-color: mainColor;
}

.personal {
  display: flex;
}
.personal_item {
  font-size: 0.9rem;
  font-weight: 700;
  color: makerGrey;
}
.personal_item:hover {
  color: mainColor;
}
.personal_item:last-child::after {
  content: "";
}
.personal_item::after {
  content: "|";
  display: block;
  float: right;
  margin: 0 0.5rem;
  color: makerGrey;
}
.write {
  display: flex;
  align-items: center;
  padding: 0.7rem 1rem;
  color: white;
  background-color: mainColor;
  border-radius: 0.2rem;
  font-weight: 900;
  font-size: 1rem;
}
.arrowDown {
  margin-left: 0.5rem;
}
