@value mainColor,makerGrey,makerLightGrey,makerLightGrey1,makerLightGrey2,makerLightGrey3 from "../../common/color.css";
.container {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
}
.container_static {
  position: fixed;
}

.top_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  z-index: 1;
  border-bottom: 1px solid makerLightGrey1;
  background-color: white;
}

.nav__logo {
  width: 5.5rem;
}
.logo {
  width: 100%;
}
/*메인 메뉴*/
.button__open_menu {
  display: none;
  color: mainColor;
}

.nav__menu {
  display: block;
}

.menu {
  display: flex;
  align-items: center;
}

.menu_item {
  position: relative;
  display: inline-block;
  margin: 6px 10px 0;
  padding: 14px 6px;
  font-size: 1.1rem;
  line-height: 26px;
  font-weight: 800;
  color: #424242;
  cursor: pointer;
}
.menu_item:hover {
  color: mainColor;
}
.menu_item_clicked {
  color: mainColor;
}
.menu_item_hovered:after {
  margin: 2px 0 0 -4px;
  border-width: 0 4.5px 9px;
  border-color: transparent transparent #fff;
  transform: translateX(-0.5px);
}
.menu_item_hovered:before {
  margin: 1px 0 0 -5px;
  border-width: 0 5px 10px;
  border-color: transparent transparent #dbdbdb;
}

.menu_item_hovered:after,
.menu_item_hovered:before {
  content: "";
  display: flex;
  position: absolute;
  top: 100%;
  left: 50%;
  border-style: solid;
}

/*검색창,회원메뉴,글쓰기 작성 버튼*/
.nav__end {
  display: flex;
  align-items: center;
}
.search_button {
  padding: 0.3rem;
  display: none;
  border-radius: 50%;
  color: makerGrey;
}
.search_button:hover {
  color: white;
  background-color: mainColor;
}
.form {
  position: relative;
}

.input {
  padding: 0.7rem 5rem 0.7rem 2.8rem;
  border: 1px solid makerLightGrey2;
  border-radius: 0.2rem;
}
.input::placeholder {
  color: makerLightGrey3;
  font-size: 0.95rem;
}
.input:focus {
  outline: none;
}
.search {
  width: 1rem;
  position: absolute;
  top: 0.5rem;
  left: 0.3rem;
}

.cart_button {
  padding: 0.3rem;
  border-radius: 50%;
  margin: 0 0.7rem;
}

.cart {
  color: makerGrey;
  display: flex;
  font-size: 1.5rem;
}
.cart_button:hover .cart {
  color: white;
}
.cart_button:hover {
  background-color: mainColor;
}

.personal {
  display: flex;
}
.personal_item {
  font-size: 0.9rem;
  font-weight: 800;
  color: makerGrey;
}
.personal_item:hover {
  color: mainColor;
}
.personal_item:first-child::before {
  content: "";
  margin: 0;
}
.personal_item::before {
  content: "|";
  display: block;
  float: left;
  margin: 0 0.5rem;
  color: makerGrey;
}

.write {
  display: flex;
  align-items: center;
  padding: 0.6rem 0.8rem;
  margin-left: 1rem;
  color: white;
  background-color: mainColor;
  border-radius: 0.3rem;
  font-weight: 900;
  font-size: 0.95rem;
}
.write:hover {
  background-color: #09addb;
}
.arrowDown {
  margin-left: 0.3rem;
}

.sub_header {
  width: 100%;
}
.sub_header_hide {
  z-index: 0;
  transform: translateY(-4rem);
  transition: 0.5s;
}

@media only screen and (max-width: 1256px) {
  .personal_item:last-child {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .top_container {
    padding: 10px 40px;
  }
  .form {
    display: none;
  }
  .search_button {
    display: flex;
  }
}
@media only screen and (max-width: 768px) {
  .container_show {
    position: fixed;
    transform: translateY(0);
    transition: 0.5s;
  }
  .container_hide {
    transform: translateY(-4rem);
    transition: 0.5s;
  }
  .nav__menu,
  .personal,
  .write {
    display: none;
  }

  .top_container {
    padding: 10px 0;
  }

  .button__open_menu {
    display: flex;
  }
  .nav__logo {
    width: 3.6rem;
  }
}
