@value makerGrey,makerPink,makerDarkGrey,makerLightGrey1,mainColor from "../../../../common/color.css";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 3%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  font-size: 0.95rem;
}
.header h2 {
  font-size: 1.3rem;
  padding-left: 0.5rem;
}
.header span {
  color: mainColor;
}
/*캐러셀*/
.carousel {
  width: 100%;
  overflow: hidden;
}

.list {
  display: flex;
  transition: 0.5s;
}
.item {
  margin-right: 1rem;
}
.img_container {
  width: 100%;
}
.img_container img {
  width: 100%;
}
.title {
  font-size: 0.85rem;
}
.price_info {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
.sale {
  font-weight: 700;
  color: mainColor;
  margin-right: 0.5rem;
}
.price {
  font-weight: 700;
}

.list_prev,
.list_next {
  position: absolute;
  display: flex;
  top: 45%;
  z-index: 1;
}

.list_prev {
  left: 1rem;
}
.list_next {
  right: 1rem;
}

.move_btn {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  background-color: white;
  border-radius: 50%;
}
.move_btn:hover {
  color: white;
  background-color: mainColor;
}
.icon_hide {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header span {
    display: none;
  }
  .list_next,
  .list_prev {
    display: none;
  }
  .carousel {
    overflow: auto;
  }
}
