@value makerOrange,makerBeige,makerGreen from "../../common/color.css";

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.staff {
  margin-right: 1rem;
}
.menu {
  margin-left: 1rem;
}
.selectOption {
  display: flex;
  padding: 1rem;
}
.options {
  display: flex;
}
.option {
  margin: 0 0.5rem;
}

.ice_btn_clicked {
  background-color: makerBeige;
}
.ice {
  width: 2rem;
}
.buttons {
  display: flex;
  align-items: center;
}
.ctrl {
  width: 1.5rem;
}
.select {
  align-self: center;
}
.select_btn {
  padding: 1rem 1rem;
  border-radius: 0.8rem;
  background-color: makerOrange;
  font-family: "kotra";
}
.select_btn:hover {
  background-color: makerBeige;
}

.order_btn {
  padding: 1rem;
  font-family: "kotra";
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  font-size: 1rem;
}
.yes {
  background-color: makerGreen;
}
.retry {
  background-color: makerOrange;
}
