@value mainColor,makerGrey,makerDarkGrey,makerLightGrey from "../../../common/color.css";

.container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid makerLightGrey;
  background-color: white;
}
.menu_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  width: 1175px;
  max-width: 1175px;
}
.menu {
  display: flex;
}
.menu_item {
  position: relative;
  color: makerDarkGrey;
  font-weight: 700;
  line-height: 23px;
  margin: 8px 4px;
  padding: 6px 8px 4px;
}
.menu_item:hover {
  color: mainColor;
}

.menu_item_clicked {
  color: black;
  font-weight: 800;
}
.menu_item_clicked::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: block;
  margin: 6px -4px 0;
  height: 2px;
  background-color: mainColor;
}

.interior_btn {
  display: flex;
  align-items: center;
}

.icon {
  width: 1.5rem;
}
.text {
  margin: 0 0.2rem;
  padding-top: 0.1rem;
  font-size: 1rem;
  font-weight: 700;
  color: makerGrey;
}
.tag {
  font-size: 0.5rem;
  font-weight: 500;
  padding: 0.1rem 0.2rem;
  color: white;
  background-color: makerGrey;
  border-radius: 1.5rem;
}
