.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.out {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.door {
  width: 20rem;
  display: flex;
  cursor: pointer;
}
.doorOpen {
  width: 20rem;
  display: none;
  cursor: pointer;
}

.entrance:hover .doorOpen {
  display: flex;
}
.entrance:hover .door {
  display: none;
}
