.container {
  display: flex;
  flex-direction: column;
}
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
.page {
}
.footer {
}

@media only screen and (max-width: 768px) {
}
