@value makerBeige from "./common/color.css";

body {
  margin: 0 auto;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕",
    "Malgun Gothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  cursor: pointer;
}

a {
  text-decoration: none;
}
dl {
  margin: 0;
}
dt,
dd {
  margin: 0;
  font-style: normal;
}
span {
  font-style: normal;
}
