@value makerBeige from "./common/color.css";
@font-face {
  font-family: "kotra";
  src: url("./common/fonts/kotra.otf");
}

body {
  margin: 0;
  background-color: #f4efe6;
  font-family: "kotra";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  cursor: pointer;
}
